# root dotfiles
!.*.js

# unconventional js
/blueprints/*/files/

# compiled output
/dist/
/tmp/

# misc
/coverage/
!.*
.*/
.eslintcache

# ember-try
/.node_modules.ember-try/
/package.json.ember-try
